<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Game</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap" rel="stylesheet">
</head>

<body>
    <h1>The Great
        <br>
        <span id="c-p">RGB</span>
        <br> Guessing Game
    </h1>
    <div id="stripe">
        <button id="Reset"><span id="Play">New Colors</span></button>
        <span id="status"></span>
        <button id="easybtn">Easy</button>
        <button class="selected" id="hardbtn">Hard</button>
    </div>

    <div class="container">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>

    <script src="script.js"></script>
</body>

</html>